# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment variables
.env

# Django
/media/
/staticfiles/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store